## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column
unique_value_counts = application_df.nunique()

# Print the results
print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Print the results
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 250

# This will include all application types with a count less than the cutoff value
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Print the list of application types to be replaced
# print(application_types_to_replace)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning

# Get value counts for the 'CLASSIFICATION' column
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Print the results
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1

# Get value counts for the 'CLASSIFICATION' column
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Filter for value counts greater than 1
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]

# Print the filtered results
print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

cutoff_value = 1500  

# This will include all classifications with a count less than the cutoff value
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Print the list of classifications to be replaced
# print(classifications_to_replace)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

# Check the updated DataFrame
print(application_df.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                       0
1       1   108590              1                       0
2       1     5000              0                       0
3       1     6692              1                       0
4       1   142590              1                       0

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                     1                     0                    0
1                     0                     0                    1
2                     0                     0                    0
3                     0                     0                    1
4                     0                     0                    1

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                    0                    0                    0  ...
1                    0                    0                    0  ...
2                    0                    1                    0  ...
3                    0                    0                    0  ...
4                    0                    0                    0  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  0                       0                         0
1                  1                       0                         0
2                  0                       0                         0
3                  0                       1                         0
4                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 44 columns]

In [11]:
# Split our preprocessed data into our features and target arrays

y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(columns=['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y,  random_state=42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
from tensorflow.keras.layers import Dense

input_features = X_train.shape[1]

# Create a Sequential model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(units=20, activation='relu', input_dim=input_features))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                880

 dense_1 (Dense)             (None, 1)                 21

=================================================================
Total params: 901 (3.52 KB)
Trainable params: 901 (3.52 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss='binary_crossentropy',  # Specify the appropriate loss function for your task
           optimizer='adam',            # Choose an optimizer (e.g., 'adam', 'sgd', etc.)
           metrics=['accuracy'])

In [16]:
# Train the model
epochs = 100
batch_size = 50
history = nn.fit(X_train, y_train, epochs=epochs, batch_size=batch_size, validation_data=(X_test, y_test))

Epoch 1/100
515/515 [==============================] - 1s 2ms/step - loss: 69010.1797 - accuracy: 0.5046 - val_loss: 50769.3320 - val_accuracy: 0.4657
Epoch 2/100
515/515 [==============================] - 1s 1ms/step - loss: 18130.5430 - accuracy: 0.5024 - val_loss: 2728.0950 - val_accuracy: 0.4657
Epoch 3/100
515/515 [==============================] - 1s 1ms/step - loss: 17752.4629 - accuracy: 0.5070 - val_loss: 1015.1671 - val_accuracy: 0.5025
Epoch 4/100
515/515 [==============================] - 1s 1ms/step - loss: 25475.1367 - accuracy: 0.5147 - val_loss: 21702.8398 - val_accuracy: 0.4657
Epoch 5/100
515/515 [==============================] - 1s 1ms/step - loss: 9835.9053 - accuracy: 0.5381 - val_loss: 2173.9944 - val_accuracy: 0.4657
Epoch 6/100
515/515 [==============================] - 1s 1ms/step - loss: 19888.9844 - accuracy: 0.5047 - val_loss: 3108.0996 - val_accuracy: 0.4657
Epoch 7/100
515/515 [==============================] - 1s 1ms/step - loss: 17286.8535 - accuracy: 0.5135 - val_loss: 6033.5942 - val_accuracy: 0.4657
Epoch 8/100
515/515 [==============================] - 1s 1ms/step - loss: 1438.4331 - accuracy: 0.5329 - val_loss: 660.4211 - val_accuracy: 0.5991
Epoch 9/100
515/515 [==============================] - 1s 1ms/step - loss: 26783.3203 - accuracy: 0.5059 - val_loss: 9411.1533 - val_accuracy: 0.4657
Epoch 10/100
515/515 [==============================] - 1s 1ms/step - loss: 13393.1572 - accuracy: 0.5311 - val_loss: 21357.5625 - val_accuracy: 0.5343
Epoch 11/100
515/515 [==============================] - 1s 1ms/step - loss: 8069.4326 - accuracy: 0.5350 - val_loss: 1864.0869 - val_accuracy: 0.6585
Epoch 12/100
515/515 [==============================] - 1s 1ms/step - loss: 13278.1592 - accuracy: 0.5456 - val_loss: 1302.0386 - val_accuracy: 0.6602
Epoch 13/100
515/515 [==============================] - 1s 1ms/step - loss: 23542.6680 - accuracy: 0.5135 - val_loss: 1415.6462 - val_accuracy: 0.6128
Epoch 14/100
515/515 [==============================] - 1s 1ms/step - loss: 18799.7734 - accuracy: 0.5273 - val_loss: 10.2977 - val_accuracy: 0.5353
Epoch 15/100
515/515 [==============================] - 1s 1ms/step - loss: 19438.5918 - accuracy: 0.5161 - val_loss: 14071.7754 - val_accuracy: 0.4657
Epoch 16/100
515/515 [==============================] - 1s 1ms/step - loss: 18627.1562 - accuracy: 0.5207 - val_loss: 1396.7917 - val_accuracy: 0.5550
Epoch 17/100
515/515 [==============================] - 1s 1ms/step - loss: 12670.4902 - accuracy: 0.5201 - val_loss: 1250.7555 - val_accuracy: 0.5543
Epoch 18/100
515/515 [==============================] - 1s 1ms/step - loss: 2199.8745 - accuracy: 0.5426 - val_loss: 145.8826 - val_accuracy: 0.5377
Epoch 19/100
515/515 [==============================] - 1s 1ms/step - loss: 20171.1719 - accuracy: 0.5231 - val_loss: 2646.8030 - val_accuracy: 0.6490
Epoch 20/100
515/515 [==============================] - 1s 1ms/step - loss: 18712.8242 - accuracy: 0.5302 - val_loss: 1800.8434 - val_accuracy: 0.6303
Epoch 21/100
515/515 [==============================] - 1s 1ms/step - loss: 3320.9775 - accuracy: 0.5772 - val_loss: 36010.0117 - val_accuracy: 0.5343
Epoch 22/100
515/515 [==============================] - 1s 1ms/step - loss: 13549.3545 - accuracy: 0.5335 - val_loss: 4429.3481 - val_accuracy: 0.5343
Epoch 23/100
515/515 [==============================] - 1s 1ms/step - loss: 10488.9688 - accuracy: 0.5231 - val_loss: 2056.1599 - val_accuracy: 0.5343
Epoch 24/100
515/515 [==============================] - 1s 1ms/step - loss: 1298.9125 - accuracy: 0.6028 - val_loss: 8611.5713 - val_accuracy: 0.5343
Epoch 25/100
515/515 [==============================] - 1s 1ms/step - loss: 21022.5430 - accuracy: 0.5292 - val_loss: 8513.4307 - val_accuracy: 0.4657
Epoch 26/100
515/515 [==============================] - 1s 1ms/step - loss: 12108.4619 - accuracy: 0.5450 - val_loss: 585.1376 - val_accuracy: 0.5416
Epoch 27/100
515/515 [==============================] - 1s 1ms/step - loss: 12282.7607 - accuracy: 0.5431 - val_loss: 9016.7432 - val_accuracy: 0.4657
Epoch 28/100
515/515 [==============================] - 1s 1ms/step - loss: 14700.8896 - accuracy: 0.5273 - val_loss: 3875.9421 - val_accuracy: 0.5343
Epoch 29/100
515/515 [==============================] - 1s 1ms/step - loss: 13280.8984 - accuracy: 0.5405 - val_loss: 642.8588 - val_accuracy: 0.5416
Epoch 30/100
515/515 [==============================] - 1s 1ms/step - loss: 1676.4569 - accuracy: 0.5957 - val_loss: 245.6025 - val_accuracy: 0.6205
Epoch 31/100
515/515 [==============================] - 1s 1ms/step - loss: 11733.2910 - accuracy: 0.5726 - val_loss: 12578.4414 - val_accuracy: 0.5343
Epoch 32/100
515/515 [==============================] - 1s 1ms/step - loss: 13106.9814 - accuracy: 0.4866 - val_loss: 12305.6855 - val_accuracy: 0.4657
Epoch 33/100
515/515 [==============================] - 1s 1ms/step - loss: 11414.2266 - accuracy: 0.5665 - val_loss: 1909.4948 - val_accuracy: 0.6492
Epoch 34/100
515/515 [==============================] - 1s 1ms/step - loss: 1995.7150 - accuracy: 0.5957 - val_loss: 735.9264 - val_accuracy: 0.6239
Epoch 35/100
515/515 [==============================] - 1s 1ms/step - loss: 13726.9277 - accuracy: 0.5463 - val_loss: 1989.3607 - val_accuracy: 0.5343
Epoch 36/100
515/515 [==============================] - 1s 1ms/step - loss: 7971.4155 - accuracy: 0.5905 - val_loss: 18747.5918 - val_accuracy: 0.4657
Epoch 37/100
515/515 [==============================] - 1s 1ms/step - loss: 10141.0312 - accuracy: 0.5864 - val_loss: 925.0070 - val_accuracy: 0.6539
Epoch 38/100
515/515 [==============================] - 1s 1ms/step - loss: 12744.1758 - accuracy: 0.5576 - val_loss: 2196.3418 - val_accuracy: 0.6494
Epoch 39/100
515/515 [==============================] - 1s 1ms/step - loss: 12490.4092 - accuracy: 0.5957 - val_loss: 150.1926 - val_accuracy: 0.6217
Epoch 40/100
515/515 [==============================] - 1s 1ms/step - loss: 7501.3193 - accuracy: 0.5966 - val_loss: 5848.5254 - val_accuracy: 0.5343
Epoch 41/100
515/515 [==============================] - 1s 1ms/step - loss: 8074.2095 - accuracy: 0.5614 - val_loss: 4847.6040 - val_accuracy: 0.5068
Epoch 42/100
515/515 [==============================] - 1s 1ms/step - loss: 9999.0117 - accuracy: 0.6054 - val_loss: 8336.5820 - val_accuracy: 0.4657
Epoch 43/100
515/515 [==============================] - 1s 1ms/step - loss: 7819.0762 - accuracy: 0.5915 - val_loss: 266.9742 - val_accuracy: 0.6465
Epoch 44/100
515/515 [==============================] - 1s 1ms/step - loss: 8798.5264 - accuracy: 0.5734 - val_loss: 557.8826 - val_accuracy: 0.6567
Epoch 45/100
515/515 [==============================] - 1s 1ms/step - loss: 1060.0946 - accuracy: 0.6345 - val_loss: 2230.2825 - val_accuracy: 0.6314
Epoch 46/100
515/515 [==============================] - 1s 1ms/step - loss: 10531.4492 - accuracy: 0.5616 - val_loss: 2438.7708 - val_accuracy: 0.6301
Epoch 47/100
515/515 [==============================] - 1s 1ms/step - loss: 6794.1465 - accuracy: 0.5466 - val_loss: 205.1980 - val_accuracy: 0.6294
Epoch 48/100
515/515 [==============================] - 1s 1ms/step - loss: 1672.9252 - accuracy: 0.5995 - val_loss: 1951.0399 - val_accuracy: 0.5353
Epoch 49/100
515/515 [==============================] - 1s 1ms/step - loss: 8865.0205 - accuracy: 0.5763 - val_loss: 1859.6077 - val_accuracy: 0.6511
Epoch 50/100
515/515 [==============================] - 1s 1ms/step - loss: 11502.7910 - accuracy: 0.5179 - val_loss: 12581.4004 - val_accuracy: 0.4657
Epoch 51/100
515/515 [==============================] - 1s 1ms/step - loss: 8364.5840 - accuracy: 0.5587 - val_loss: 3104.3076 - val_accuracy: 0.6376
Epoch 52/100
515/515 [==============================] - 1s 1ms/step - loss: 6648.5264 - accuracy: 0.5977 - val_loss: 201.3710 - val_accuracy: 0.6332
Epoch 53/100
515/515 [==============================] - 1s 1ms/step - loss: 2717.7092 - accuracy: 0.6020 - val_loss: 27428.1973 - val_accuracy: 0.4657
Epoch 54/100
515/515 [==============================] - 1s 1ms/step - loss: 13195.7598 - accuracy: 0.5288 - val_loss: 6299.5557 - val_accuracy: 0.4709
Epoch 55/100
515/515 [==============================] - 1s 1ms/step - loss: 4309.0640 - accuracy: 0.6003 - val_loss: 18527.4180 - val_accuracy: 0.5343
Epoch 56/100
515/515 [==============================] - 1s 1ms/step - loss: 7607.7861 - accuracy: 0.6096 - val_loss: 240.0424 - val_accuracy: 0.6296
Epoch 57/100
515/515 [==============================] - 1s 1ms/step - loss: 5425.4556 - accuracy: 0.5910 - val_loss: 3258.3804 - val_accuracy: 0.6064
Epoch 58/100
515/515 [==============================] - 1s 1ms/step - loss: 6772.0049 - accuracy: 0.5370 - val_loss: 21122.5723 - val_accuracy: 0.4657
Epoch 59/100
515/515 [==============================] - 1s 1ms/step - loss: 9401.0010 - accuracy: 0.5204 - val_loss: 18167.5371 - val_accuracy: 0.5343
Epoch 60/100
515/515 [==============================] - 1s 1ms/step - loss: 8449.6523 - accuracy: 0.5798 - val_loss: 230.2625 - val_accuracy: 0.6195
Epoch 61/100
515/515 [==============================] - 1s 1ms/step - loss: 2158.7310 - accuracy: 0.5742 - val_loss: 254.8976 - val_accuracy: 0.6180
Epoch 62/100
515/515 [==============================] - 1s 1ms/step - loss: 6930.2231 - accuracy: 0.5514 - val_loss: 23236.2500 - val_accuracy: 0.5343
Epoch 63/100
515/515 [==============================] - 1s 1ms/step - loss: 7619.2690 - accuracy: 0.5900 - val_loss: 12457.0068 - val_accuracy: 0.4657
Epoch 64/100
515/515 [==============================] - 1s 1ms/step - loss: 10093.9277 - accuracy: 0.6034 - val_loss: 1375.8816 - val_accuracy: 0.6723
Epoch 65/100
515/515 [==============================] - 1s 1ms/step - loss: 10585.6826 - accuracy: 0.5594 - val_loss: 3802.4644 - val_accuracy: 0.6058
Epoch 66/100
515/515 [==============================] - 1s 1ms/step - loss: 5163.6719 - accuracy: 0.5874 - val_loss: 944.5806 - val_accuracy: 0.6399
Epoch 67/100
515/515 [==============================] - 1s 1ms/step - loss: 3359.7407 - accuracy: 0.6108 - val_loss: 17108.5020 - val_accuracy: 0.5343
Epoch 68/100
515/515 [==============================] - 1s 1ms/step - loss: 5853.8828 - accuracy: 0.5724 - val_loss: 7296.2036 - val_accuracy: 0.4669
Epoch 69/100
515/515 [==============================] - 1s 1ms/step - loss: 9777.8223 - accuracy: 0.5907 - val_loss: 8.6436 - val_accuracy: 0.6227
Epoch 70/100
515/515 [==============================] - 1s 1ms/step - loss: 8142.4312 - accuracy: 0.5698 - val_loss: 5927.4854 - val_accuracy: 0.4728
Epoch 71/100
515/515 [==============================] - 1s 1ms/step - loss: 7524.9409 - accuracy: 0.5752 - val_loss: 322.0630 - val_accuracy: 0.6283
Epoch 72/100
515/515 [==============================] - 1s 1ms/step - loss: 5252.5225 - accuracy: 0.5926 - val_loss: 252.8426 - val_accuracy: 0.6463
Epoch 73/100
515/515 [==============================] - 1s 1ms/step - loss: 2751.7158 - accuracy: 0.6193 - val_loss: 7224.8081 - val_accuracy: 0.5343
Epoch 74/100
515/515 [==============================] - 1s 1ms/step - loss: 8294.0840 - accuracy: 0.5834 - val_loss: 3732.2966 - val_accuracy: 0.5136
Epoch 75/100
515/515 [==============================] - 1s 1ms/step - loss: 6188.7432 - accuracy: 0.5641 - val_loss: 3331.0156 - val_accuracy: 0.5153
Epoch 76/100
515/515 [==============================] - 1s 1ms/step - loss: 6122.1582 - accuracy: 0.5443 - val_loss: 6555.1045 - val_accuracy: 0.4664
Epoch 77/100
515/515 [==============================] - 1s 1ms/step - loss: 6995.7207 - accuracy: 0.5758 - val_loss: 1545.8425 - val_accuracy: 0.6681
Epoch 78/100
515/515 [==============================] - 1s 1ms/step - loss: 8895.8340 - accuracy: 0.5524 - val_loss: 5408.7085 - val_accuracy: 0.4729
Epoch 79/100
515/515 [==============================] - 1s 1ms/step - loss: 4216.3169 - accuracy: 0.5768 - val_loss: 2496.6411 - val_accuracy: 0.5343
Epoch 80/100
515/515 [==============================] - 1s 1ms/step - loss: 1584.0731 - accuracy: 0.6038 - val_loss: 3557.8440 - val_accuracy: 0.5343
Epoch 81/100
515/515 [==============================] - 1s 1ms/step - loss: 6445.6289 - accuracy: 0.5779 - val_loss: 10342.2988 - val_accuracy: 0.4657
Epoch 82/100
515/515 [==============================] - 1s 1ms/step - loss: 1812.9426 - accuracy: 0.6129 - val_loss: 666.6615 - val_accuracy: 0.6552
Epoch 83/100
515/515 [==============================] - 1s 1ms/step - loss: 4253.4951 - accuracy: 0.6035 - val_loss: 1753.9930 - val_accuracy: 0.5353
Epoch 84/100
515/515 [==============================] - 1s 1ms/step - loss: 7886.0532 - accuracy: 0.6143 - val_loss: 232.2625 - val_accuracy: 0.6618
Epoch 85/100
515/515 [==============================] - 1s 1ms/step - loss: 2595.4893 - accuracy: 0.5854 - val_loss: 1129.0026 - val_accuracy: 0.6729
Epoch 86/100
515/515 [==============================] - 1s 1ms/step - loss: 4241.6074 - accuracy: 0.5303 - val_loss: 3680.9624 - val_accuracy: 0.5146
Epoch 87/100
515/515 [==============================] - 1s 1ms/step - loss: 7138.6006 - accuracy: 0.5765 - val_loss: 41.9490 - val_accuracy: 0.5969
Epoch 88/100
515/515 [==============================] - 1s 1ms/step - loss: 672.6130 - accuracy: 0.6167 - val_loss: 81.2494 - val_accuracy: 0.6204
Epoch 89/100
515/515 [==============================] - 1s 1ms/step - loss: 3946.6689 - accuracy: 0.5827 - val_loss: 8232.1504 - val_accuracy: 0.4657
Epoch 90/100
515/515 [==============================] - 1s 1ms/step - loss: 4160.1758 - accuracy: 0.5428 - val_loss: 342.2149 - val_accuracy: 0.6161
Epoch 91/100
515/515 [==============================] - 1s 1ms/step - loss: 3191.3071 - accuracy: 0.6106 - val_loss: 1428.6567 - val_accuracy: 0.6693
Epoch 92/100
515/515 [==============================] - 1s 1ms/step - loss: 3853.7605 - accuracy: 0.5865 - val_loss: 7116.7803 - val_accuracy: 0.4657
Epoch 93/100
515/515 [==============================] - 1s 1ms/step - loss: 3436.1443 - accuracy: 0.5769 - val_loss: 68.5613 - val_accuracy: 0.6244
Epoch 94/100
515/515 [==============================] - 1s 1ms/step - loss: 705.6700 - accuracy: 0.6181 - val_loss: 930.4859 - val_accuracy: 0.6728
Epoch 95/100
515/515 [==============================] - 1s 1ms/step - loss: 2724.7964 - accuracy: 0.5985 - val_loss: 3404.4219 - val_accuracy: 0.4728
Epoch 96/100
515/515 [==============================] - 1s 1ms/step - loss: 2219.6838 - accuracy: 0.5728 - val_loss: 5953.8213 - val_accuracy: 0.5343
Epoch 97/100
515/515 [==============================] - 1s 1ms/step - loss: 2099.9373 - accuracy: 0.6272 - val_loss: 5276.3843 - val_accuracy: 0.4658
Epoch 98/100
515/515 [==============================] - 1s 1ms/step - loss: 4314.1494 - accuracy: 0.5611 - val_loss: 7.4569 - val_accuracy: 0.6344
Epoch 99/100
515/515 [==============================] - 1s 1ms/step - loss: 3259.0276 - accuracy: 0.5898 - val_loss: 96.1310 - val_accuracy: 0.6281
Epoch 100/100
515/515 [==============================] - 1s 1ms/step - loss: 2412.3552 - accuracy: 0.6162 - val_loss: 1045.4424 - val_accuracy: 0.6666

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 2.7258 - accuracy: 0.6963 - 253ms/epoch - 944us/step
Loss: 2.7257988452911377, Accuracy: 0.6963265538215637

In [18]:
# Export our model to HDF5 file
model_filename = "AlphabetSoupCharity_Optimization2.h5"
nn.save(model_filename)

C:\Users\Christopher Hornung\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(